.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  max-width: 360px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (768 - 320)));
    width: calc(288px + (360 - 288) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (max-width: 480px) {
  .cover__subtitle {
    white-space: pre-line;
  }
}

