.lead__title {
  max-width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #fff;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .lead__title {
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(44px + (100 - 44) * ((100vw - 320px) / (768 - 320)));
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
  }
}