.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  row-gap: 48px;
  column-gap: calc(32px + (40 - 32) * ((100vw - 1024px) / (1280 - 1024)));
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
    column-gap: calc(28px + (32 - 28) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: minmax(210px, 340px) minmax(210px, 352px);
    column-gap: calc(13px + (28 - 13) * ((100vw - 480px) / (768 - 480)));
    row-gap: calc(32px + (48 - 32) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (max-width: 480px) {
  .place {
    grid-template-columns: 1fr;
  }
}
