.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  color: #fff;
  margin: 0 0 40px;
}

@media (max-width: 768px) {
  .intro__title {
    font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + (58 - 35) * ((100vw - 320px) / (768 - 320)));
  }
}